This is the footer. Include anything you'd like here, like a link to an <a class="internal-link" href="{{ site.baseurl }}/about">About</a> page.
<form action="https://buttondown.email/api/emails/embed-subscribe/wrebsart" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/wrebsart', 'popupwindow')" class="embeddable-buttondown-form">
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" placeholder="Type your email..." />
  <input type="submit" value="Subscribe" />
  <p>
  </p>
</form>
